.social1 {
    margin-right: 10px;
    margin-left: 10px;
    height: 30px;
    border-radius: 5px;
}
.social2 {
    margin-right: 10px;
    margin-left: 5px;
    height: 40px;
    border-radius: 5px;
}