.host {
    text-align: center;
    text-align: center;
}

.host button {
    width: 30%;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: inline-block;
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 30px;
    font-size: 20px;
    background-color: #3A3B3A;
}

#hostTitle {
    font-size: 40px;
}

#gamePinText {
    margin-top: 25px;
    font-size: 70px;
    font-family: 'Tajawal', sans-serif;
}

#players {
    width: 75%;
    height: 500px;
    text-align: center;
    font-size: 20px;
    background-color: white;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}