@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tajawal&display=swap');

html {
  position: relative;
  min-height: 100%;
  color: white;
}
body {
  margin-bottom: 60px; /* Margin bottom by footer height */
  color: white;
  font-family: 'Raleway', sans-serif;
  text-align: center;
}